// COLORS
$primary-color: #ffffff;
$secondary-color: #ffffff;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(0, 0, 0);

$dark-grey: #272727;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
